// 1. Abstracts
@import 'abstracts/variables';


// 2. Base
@import 'base/reset';

// 3. Layout/Components
// @import 'components/navbar';
// @import 'components/form'; // You will create these next
// @import 'components/table';
// @import 'components/intro';

// 4. Utils
// .text-red { color: $color-red; }
// .bg-red { background-color: $color-red; }