* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
}

body {
  font-family: var(--font-content); // Content font for general text
  background-color: var(--color-white);
  color: var(--color-black);
  line-height: 1.6;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Global Heading override
h1, h2, h3, h4, h5 {
  font-family: var(--font-heading);
  text-transform: uppercase;
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
  transition: var(--transition-smooth);
  
  // Replaces the old @include tap-target
  min-height: 44px; 
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:active {
    transform: scale(0.97);
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Remove default arrows from number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}